* { margin: 0; padding: 0; }  
 html, body { height: 100%; width: 100%; }  
 canvas { display: block; }  
 ul { list-style-type: none; }
 
 /*设置背景*/
 body{
 	background-image: url(../../img/cs1.jpg);
 	background-repeat:no-repeat;
 	background-size: cover;
 }
 
 /*去除表单黄色边框*/
 input {outline:none;}
 
#masking{
	background-color: rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 0px;
}

#mainlay{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	max-width: 500px;
	max-height: 500px;
	min-width: 300px;
	min-height: 300px;
}

#mly_title{
	width: 74%;
	position: absolute;
	left: 13%;
	top: 8%;
	color: white;
	text-align: center;
}

.user{
	width: 74%;
	height: 30px;
	position: absolute;
	left: 13%;
	top: 30%;
	border-style:none;
	border-bottom-style: solid;
	border-bottom-color: white;
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	color: white;
}

.pass{
	width: 74%;
	height: 30px;
	position: absolute;
	left: 13%;
	top: 50%;
	border-style:none;
	border-bottom-style: solid;
	border-bottom-color: white;
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	color: white;
}

.sub{
	width: 74%;
	height: 35px;
	position: absolute;
	left: 13%;
	top: 70%;
	border-color: white;
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

.lay_forpass{
	color: white;
	position: absolute;
	top: 90%;
	left: 75%;
}

.lay_forpass>a{
	text-decoration:none;
	color: white;
}
