<!DOCTYPE html>
<html>
<head>
    <title>Signin</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <style>
        #result {
            margin-top: 20px;
            color: red;
        }
    </style>
</head>

<body>
<div class="container">
    <form action="/signin" method="post" role="form">
        <h2>Please Sign In</h2>
        <input type="name" name="username" placeholder="Username" required autofocus>
        <input type="password" name="password" placeholder="Password" required>

        <button class="btn" type="button">SignIn</button>
    </form>

    <div id="result"></div>
</div>
<script src="{{ url_for('static', filename='js/own/sign.js') }}"></script>
</body>
</html>