<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
    <title>可撤销的上传</title>
</head>
<body>
    {{ dropzone.create(action='index') }}、
    <button id="upload-btn">Upload</button>
    {{ dropzone.load_js() }}
    {{ dropzone.config(custom_init='dz = this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();});',
                     custom_options='autoProcessQueue: false, addRemoveLinks: true, parallelUploads: 20,') }}

</body>
</html>